
version: "3.7"
services:

  db:
    container_name: postgre_sql
    build: ./postgresql
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    ports:
      - 50004:5432


#  rabbit:
#    container_name: rabbit_mq
#    build: ./rabbit
#    restart: always
#    logging:
#      driver: "json-file"
#      options:
#        max-file: "5"
#        max-size: 10m
#    ports:
#      - 50002:15672


  identity_srv:
    container_name: identity_srv
    build:
      context: ./
      dockerfile: Dockerfile.identity-srv
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - db
    links:
      - db


  file_srv:
    container_name: file_srv
    build:
      context: ./
      dockerfile: Dockerfile.file-srv
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - db
    links:
      - db


  checkout_srv:
    container_name: checkout_srv
    build:
      context: ./
      dockerfile: Dockerfile.checkout-srv
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - db
    links:
      - db


  product_srv:
    container_name: product_srv
    build:
      context: ./
      dockerfile: Dockerfile.product-srv
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - db
    links:
      - db


  admin_gw:
    container_name: admin_gw
    build:
      context: ./
      dockerfile: Dockerfile.admin-gw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - file_srv
      - product_srv
      - checkout_srv
      - identity_srv
    links:
      - file_srv
      - product_srv
      - checkout_srv
      - identity_srv


  client_gw:
    container_name: client_gw
    build:
      context: ./
      dockerfile: Dockerfile.client-gw
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - checkout_srv
      - product_srv
      - file_srv
      - identity_srv
    links:
      - checkout_srv
      - product_srv
      - file_srv
      - identity_srv


  admin_ui:
    container_name: admin_ui
    build:
      context: ./
      dockerfile: Dockerfile.admin-ui
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - admin_gw
    links:
      - admin_gw
    volumes:
      - ./sellgar.admin.ui/app/client/nginx/conf.d:/etc/nginx/conf.d:ro
    environment:
      - NODE_ENV=production


  client_ui:
    container_name: client_ui
    build:
      context: ./
      dockerfile: Dockerfile.client-ui
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    depends_on:
      - client_gw
    links:
      - client_gw
    environment:
      - NODE_ENV=production


  certbot:
    user: root
    container_name: certbot
    image: certbot/certbot
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt:rw
      - ./data/certbot/www:/var/www/certbot:rw
    entrypoint: /bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'

  proxy:
    user: root
    container_name: proxy
    build: ./nginx
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 10m
    links:
      - admin_ui
      - client_ui
      - client_gw
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/init-letsencrypt.sh:/etc/nginx/init-letsencrypt.sh
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''
